<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="static/img/mylog.png">

    <title>Album</title>

    <!-- Bootstrap core CSS -->
    <link href="static/love/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/album.css" rel="stylesheet">
</head>

<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">
                        以下照片，皆为网络爬取，本人没有任何版权，也不做任何商业用途
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://www.win4000.com/" class="text-white">照片来源</a></li>
                        <li><a href="https://github.com/CcoWzh" class="text-white">github</a></li>
                        <li><a href="/" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>Album</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album</h1>
            <p class="lead text-muted">
                图片爬虫，纯属爱好，看看就好，不必当真.
            </p>
            <p>
                <a href="/" class="btn btn-primary my-2">主页</a>
                <a href="http://www.win4000.com/" class="btn btn-secondary my-2">前往源网站</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {{range .dirList}}

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="static/album/{{.Dir1}}/0.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">
                                    {{.Dir1}}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a href="/album/show?name={{.Dir1}}">View
                                            </a>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a href="static/album/{{.Dir1}}/0.jpg">下载</a>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                {{end}}

            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>网站搭建时间 &copy; 2019.05.27 <a target="_blank" href="https://github.com/CcoWzh">我的github</a></p>
        <p>
            声明：本网站没有该照片的任何版权，也不做任何商业用途
        </p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/jquery-slim.min.js"><\/script>')</script>
<script src="static/js/popper.min.js"></script>
<script src="static/love/js/bootstrap.min.js"></script>
<script src="static/js/holder.min.js"></script>
</body>
</html>
